body {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
}

body #container {
  width: 100vw;
  height: 100vh;
}

body #container .page {
  width: 100vw;
  height: 100vh;
}

body #container .page div.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1vh;
  left: 5vw;
  width: 90vw;
  z-index: 10;
}

body #container .page div.navigation.hovered nav {
  opacity: 1 !important;
  transition: opacity 250ms;
}

body #container .page div.navigation.hovered div.counter {
  opacity: 1 !important;
  transition: opacity 150ms;
}

body #container .page div.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 1s;
  opacity: 0;
}

body #container .page div.navigation nav.slides {
  width: 10vw;
}

body #container .page div.navigation nav.decks {
  width: 50vw;
}

body #container .page div.navigation div.counter {
  font-size: 1.44rem;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 30vw;
  opacity: 0.25;
  transition: opacity 1s;
  text-align: right;
  padding-right: 1rem;
}

body #container .page .deck {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: transform 750ms cubic-bezier(0.18, 0.89, 0.41, 1.05);
}

body #container .page .deck .slide {
  margin: 10vh 10vw;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body #container .page .deck .slide h1 {
  font-size: 6rem;
  font-variant: small-caps;
  font-weight: 100;
}

body #container .page .deck .slide.bullets {
  justify-content: space-between;
}

body #container .page .deck .slide.bullets ul {
  margin-bottom: 10rem;
}

body #container .page .deck .slide.bullets ul>li {
  font-size: 2.0736rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 2.985rem;
}

body #container .page .deck .slide.header.main h1 {
  font-size: 8rem;
  font-weight: 900;
  font-variant: none;
}

body #container .page footer {
  width: 40vw;
  right: 0;
  justify-content: space-between;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0.25rem 2vw 0.25rem 4vw;
  position: absolute;
  font-weight: 100;
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.25rem 0 0 0;
  display: flex;
  bottom: 0;
  color: white;
}